<!DOCTYPE html>
<html>
<head>
	<title>Movie Search</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<script type="text/javascript" src="scripts.js"></script>
</head>
<body>
	<form>
	    <label>Enter part or all of a movie title:</label><br>
	    <input type="text" name="query">

	    <button class="button" type="button">Search</button><br>
	    <button class="button" type="button" style="display:none">Previous</button>
	    <button class="button" type="button" style="display:none">Next</button>

	</form>
	<p id="numresults"></p>
	<h3 id="title"></h3>
	<p id="year"><p>
	<img id="pic" href="">
	
</body>
</html>


