<h1> Account Information</h1>

<!-- <form action ="/home" method ="get"> 

	<label> Enter your account name: </label> 
	<p><input type="text" name="account_name"></p>  

</form> -->

<!-- <a href="http://localhost:4567/Sonia+Priya">Combination</a> -->

<a href="/account?name=Sonia">Sonia </a>   <!-- links need to be same, send along request name
 -->
<a href="/account?name=Priya">Priya </a>  


