<h1> Account Information</h1>

<form action ="/getinfo" method ="post"> 

	<select name = "Account">
		<option value = "Sonia">Sonia</option>
		<option value = "Priya">Priya</option>
	</select>

	<p><label>Date</label></p> 
		<input type="date" name="Date">  <!-- date needs to match CSV format -->

	<p><label>Retailer</label></p>
		<input type="text" name="Payee">

	<p><label>Category</label></p>
		<input type="text" name="Category">

	<p><label>Gained</label></p>
		<input type = "text" name="Outflow">

	<p><label>Spent</label></p>
		<input type="text" name="Inflow">

	<input type= "submit"=>
</form>

<!-- <a href="http://localhost:4567/Sonia+Priya">Combination</a> -->

<a href="/account?name=Sonia">Sonia </a>   <!-- links need to be same, send along request name
 -->
<a href="/account?name=Priya">Priya </a>  


