<a href="/account?name=Sonia">Sonia </a> 

<a href="/account?name=Priya">Priya </a>  

<a href="/account?name=both priya and sonia">All Accounts</a>  

<form action = "/account" method = "post">
	<label>Admin Login: </label>
	<input type="text" name="login">

	<label>Password: </label>
	<input type="text" name="password">

	<input type= "submit"=>
</form> 